.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Match-Box-Container{
  position: relative;
  margin: 0 auto;
  width: 700px;
  height: 125px;
  border: solid white;
  border-width: 1px;
}

.Champion-Head-Image{
  width: 50px;
  height: 50px; 
}

.Summoner-Spell-Image{
  width: 25px;
  height: 25px;
}

.Image-Container{
  border: solid white;
}

.Little-Square{
  float: left;
  height:40px;
  width: 40px;
  color:grey;
  background-color: grey;
  border: solid black;
  border-width: 1px;
}
